
.navbar {
  border-radius: 0;
}
footer .navbar-default {
  background-color: transparent;
}
.navbar-inverse .navbar-brand {
  color: #028E01;
  height:50px;
}

.navbar-brand {
	padding: 0px;
}

.navbar-brand>img {
	height:50px;
	width: 100px;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

div.input-group {
	padding: 10px;
}