{% extends "layout.html" %}
{% set active_page = "index" %}

{% block content %}
	<div class="main">
		<div class = "jumbotron">
			<div class = "page row" id = "logo">

				<div class = "col-sm-5 col-sm-offset-1 col-md-4 col-md-offset-2 col-lg-4 col-lg-offset-2 col-xl-3 col-xl-offset-3">
					<h1 class="text-center"> <strong> A Pro-Social Dislike Button </strong> </h1>
					<h2 class="text-center">Thank or annoy others with a simple donation in their name</h2>
				</div>


				<div class ="col-sm-5 col-md-4 col-lg-4 col-xl-4">
					<img src = "static/img/small_web_logo.svg">

					<form id="contactForm" role="form">
	                    <div class="form-group">
	                        <div class="input-group">
							   <input type="text" id="phoneNumber" 
	                            placeholder="(651) 555-7889" class="form-control">
							   <span class="input-group-btn">
							        <button class="btn btn-default" type="button">Get the iOS App</button>
							   </span><!-- button span -->
							</div> <!-- input div -->
	                    </div> <!-- form div -->
                	</form> <!-- twilio texting form -->
				</div> <!-- column div -->
			</div> <!-- row div -->

			

		</div> <!-- jumbotron div -->
	</div> <!-- main page div -->
{{super()}}
{% endblock %}