{% extends "bootstrap/base.html" %}

<!DOCTYPE html>
<html lang = "en">

<head>
	{% block metas %}
	<meta charset = "utf-8">
	<meta name="viewport" content="width=deviec-width, intitial-scale = 1">
	{% endblock %}

	{% block title %}Coign{% endblock %}
</head>

<body>

<header>

{% block navbar %}
<div class="container">
<div class ="row">
	<nav class="navbar navbar-default">
		<h1> Coign Social Currency </h1>
		<ul class = "nav navbar-nav">
			<li> <a href="#">Home</a> </li>
			<li> <a href="#">Mission</a> </li>
			<li> <a href="#">Contact</a> </li>
		</ul>
	</nav>
</div>
</div>
{% endblock %}

</header>
	

{% block content %}
<div class="footer container">
		<div class = "row">
			<div> Call us at <span class = "phone"> 111-111-1111 </span> </div>
			<nav>
				<ul>
					<li> <a href = "#"> Terms of use </a> </li>
					<li> <a href = "#"> Private policy </a> </li>
				</ul>
			</nav>
			<p> All content &copy; 2017 Max Hoffman. All rights reserved. </p>
		</div>	
</div>
{% endblock %}
</div>

</div>
</body>
</html>