{% extends "layout.html" %}


<title> 
{% block title %}
Coign - {{ data["recipient name"]}} donated to {{ data["charity"]}}
{% endblock %}
</title>

{% block head %}

	{% block metas %}
	{% for key, value in metadata.iteritems() %}
       <meta property="{{ key }}" content="{{ value }}" />
    {% endfor %}
	
	{{super()}}
	{% endblock %}

{{ super() }}
{% endblock %}

{% block content %}
	<div class="main container" id="post">
		<div class = "page row">

			<div class = "col-sm-8">
				<div class="text-center">
					<h1>
						{{ data["recipient name"]}} donated to {{ data["charity"]}}
					</h1>
					<blockquote>
						{{ data["message"] }}
					</blockquote>
				</div>
			</div>
			<div class = "col-sm-4">
				<img src = "../static/img/small_web_logo.svg" class="img-responsive">
			</div>
		</div>
	</div>
{{ super() }}
{% endblock %}