{% extends "layout.html" %}
<!-- {% set active_page = "ppolicy" %} -->

{% block content %}
	<div class="main container">
		<div class = "page row" id = "ppolicy">

			<div class = "col-sm-8">
				<div>
				<h1>Private Policy</h1>
				<ul>
					<li>Private policy item 1
					<li>Private policy item 2
					<li>Private policy item 3
					<li>Private policy item 4
					<li>Private policy item 5
					<li>Private policy item 6
					<li>Private policy item 7
					<li>Private policy item 8
				</ul>
				</div>

			</div>

		</div>
	</div>
{{super()}}
{% endblock %}